.nav-link{
color: rgba(255,255,255,.5);
}
.nav-link2{
	color: white;
}

.etu{
  margin-bottom: 10px;;
}

.pagination {

  margin-top: 10px;

}

.photo_entreprise {
  height: 40%;
  width: 40%;
}

#conntitle {
  text-align: center;
}

.groupe-entre{
  display: flex;
}